@using WebStocks.Localizations

<link rel="stylesheet" href="/css/header.css">
@RenderSection("Style", false)
@RenderSection("Script", false)

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/switchLang.js"></script>
<title>InvestPortfolio</title>


<header>
    <div class="site-title">

        <div class="portfel">
            <a href="/StocksPortfolio/Home">@Stocks.Portfolio</a>
        </div>

        <div class="online">
            Online
        </div>

        <div class="home">
            <a href="/StocksPortfolio/Home">@Stocks.ListOfStocks</a>
        </div>

        <div class="home list-dividend">
            <a href="/StocksPortfolio/DividendIndex">@Stocks.ListDividends</a>
        </div>

        @if ((User?.Identity?.IsAuthenticated) ?? true)
        {
            <div class="home profile">
                <a href="/User/Profile">Профиль</a>
            </div>
        }


        <div class="authorization">
            @if ((!User?.Identity?.IsAuthenticated) ?? true)
            {
                <a href="/Auth/Login">@Stocks.Login/</a>
            }
            else
            {
                <a href="/Auth/Logout">@Stocks.Logout/</a>
            }
            <a href="#">@Stocks.Registration</a>
        </div>

    </div>
</header>
<body>
    @RenderBody()
</body>
@if (!User.Identity.IsAuthenticated)
{
    <div class="footer">
        Языки: <span class="lang">ru-RU</span>/<span class="lang">en-EN</span>
    </div>
}


