@using WebStocks.Localizations
@model AddDividendViewModel

<form method="post">
    <div>
        @Stocks.Stock @Html.DropDownList("stockId", Model.Stocks)
    </div>

    <div>
        @Stocks.Price @Html.TextBoxFor(x => x.Price)

    </div>

    <div>
        <input type="submit" value="@Stocks.AddDividend" />
    </div>
</form>

