@model AddStockViewModel


<form method="post">  
    <div>
        Название @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x=>x.Name)
    </div>

    <div>
        Цена @Html.TextBoxFor(x => x.Price)   
        @Html.ValidationMessageFor(x => x.Price)
    </div>

    <div>
        Дата <input type="date" name="DateBuy"/>
        @Html.ValidationMessageFor(x => x.DateBuy)
    </div>

    <div>
        <input type="submit" value="Добавить акцию" />
    </div>
</form>

