@using WebStocks.Localizations
@model AddStockViewModel



<form method="post">  
    <div>
        @Stocks.NameStock @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x=>x.Name)
    </div>

    <div>
        @Stocks.Price @Html.TextBoxFor(x => x.Price)
        @Html.ValidationMessageFor(x => x.Price)
    </div>

    <div>
        @Stocks.DateBuy <input type="date" name="DateBuy" />
        @Html.ValidationMessageFor(x => x.DateBuy)
    </div>

    <div>
        <input type="submit" value="@Stocks.AddStock" />
    </div>
</form>

