    @using WebStocks.Localizations
    @model StockDeletedViewModel

@section Style {
    <link rel="stylesheet" href="/css/main.css">
}

<body>

    <div class="main">

        <div class="left">

            <div class="growth-dynamics">

                <a href="#">@Stocks.PortfolioGrowthDynamics</a>

            </div>

        </div>

        <div class="centre">

            <div class="the-title-of-the-list-of-shares">

                <div>@Stocks.NameStock</div>

                <div>@Stocks.Price</div>

                <div>@Stocks.ShareInThePortfolio</div>

            </div>

            <div class="list-of-shares">
                @foreach (var stock in Model.Stocks)
                {
                    <div class="table-of-shares">

                        <div>@stock.OwnerName</div>

                        <div>
                            <a href="/StocksPortfolio/StockInformation?stockId=@stock.Id">@stock.Name</a>
                        </div>

                        <div>@stock.Price</div>

                        <div>5%</div>

                        @if (stock.CanDelete)
                        {
                            <a href="/StocksPortfolio/RemoveStockForStockDeleted?id=@stock.Id" class="button1">Удалить Акцию</a>
                        }

                    </div>
                }

            </div>

            <div class="add-and-remove">

                <div class="buttons-add-and-remove">

                    <div>

                        <a href="#" class="button1">@Stocks.DeleteAStock</a>

                    </div>

                </div>

            </div>

        </div>

    </div>
</body>
