    @model StockIndexViewModel

@section Style {
    <link rel="stylesheet" href="/css/main.css?v=1">
}
@section Script {
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/stocks/home.js"></script>
}

<body>

    <div class="main">

        <div class="left">

            <div class="growth-dynamics">

                <a href="#">Динамика роста портфеля</a>

            </div>

        </div>

        <div class="centre">

            <div class="the-title-of-the-list-of-shares">

                <div>Название акции</div>
                <div>Цена</div>
                <div>Доля в портфеле</div>

            </div>

            <div class="list-of-shares">

                @foreach (var stock in Model.Stocks)
                {
                    <div class="table-of-shares" data-stock-id=@stock.Id>

                        <div>@stock.OwnerName</div>

                        <div class="block-stock-name">

                            <div class="stock-name">

                                @stock.Name

                            </div>

                            <div class="details short">

                                @if (stock.CanChange)
                                {
                                    <form action="/StocksPortfolio/UpdateStockName" method="post">
                                        <input type="hidden" name="id" value="@stock.Id" />
                                        <input name="updName" value="@stock.Name" />
                                        <input type="submit" value="обновить" />
                                    </form>

                                    <div class="stock-information">

                                        <a href="/StocksPortfolio/StockInformation?stockId=@stock.Id">Подробнее</a>

                                    </div>
                                }

                            </div>


                        </div>

                        <div>
                            <span class="price-count">@stock.Price</span>
                            <span class="dollar">$</span>
                        </div>

                        <div>5%</div>

                        @if (stock.CanDelete)
                        {
                            <a href="/StocksPortfolio/RemoveStock?id=@stock.Id" class="button1">Удалить Акцию</a>
                        }

                    </div>
                }
            </div>

            <div class="add-and-remove">
                <div class="buttons-add-and-remove">
                    <div>
                        <a href="/StocksPortfolio/AddStock" class="button1">Добавить Акцию</a>
                        <a href="#" class="button1">Удалить Акцию</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            Привет @Model.UserName !
            <a href="/StocksPortfolio/AddRandomStock" class="button1">Добавить пример</a>
        </div>

        <div class="deleted-stocks">
            @if (Model.IsAdmin)
            {
                <a href="/StocksPortfolio/DeletedStocks">Удалённые акции /</a>
            }
        </div>
    </div>
</body>
