@using WebStocks.Localizations
@model StockInformationViewModel

@section Style {
    <link rel="stylesheet" href="/css/StockInformation.css">
}


<div>

    <form action="/StocksPortfolio/UpdateLogo" method="post" enctype="multipart/form-data">
        <input type="hidden" name="stockId" value="@Model.Id" />
        <input type="file" name="logo" />
        <input type="submit" value="@Stocks.UpdateLogo" />
    </form>

</div>

<div class="logo">
    @Stocks.Logo
    <img src="@Model.LogoUrl" />
</div>

<div>
    @Stocks.NameStock @Model.Name
</div>

<div>
    @Stocks.Price @Model.Price
</div>

<div>
    @Stocks.DateBuy @Model.DateBuy
</div>

